@model UserDetailsResponse

@{
    var message = TempData["Message"] as string;
}

<div class="card">
    <h2>Account Information</h2>
    
    <h3 class="error-text">@message</h3>

    <div class="field">
        <label>Username</label>
        <p>@Model.UserName</p>
    </div>

    <div class="field">
        <label>Email</label>
        <p>@Model.Email</p>
    </div>

    <div class="button-group">
        @if (Model.IsGoogleConnected == false)
        {
            <button class="btn btn-google" onclick="signInWithGoogle()">Connect with Google</button>
        }

        <a class="btn btn-logout" asp-controller="Account", asp-action="Logout">Logout</a>
    </div>
</div>