
<div class="block">
    <img src="img/emailClient.png"
         alt="Img that represent online courses"
         class="image" />
    <div class="info">
        <h2>Site info</h2>
        <p>
            An email client is a program that lets you send, receive, and organize
            your emails all in one place. It helps you keep track of your
            messages, manage contacts, and easily find important emails when you
            need them.
        </p>
    </div>
</div>


<button onclick="signInWithGoogle()">Connect Gmail</button>

<script>
    function signInWithGoogle() {
      const clientId = "<removed-clientId>";
      const redirectUri = "https://localhost:7167/googlepopup.cshtml";
      const scope = "https://www.googleapis.com/auth/gmail.readonly https://www.googleapis.com/auth/gmail.send";
      const url = `https://accounts.google.com/o/oauth2/v2/auth?client_id=${clientId}&redirect_uri=${redirectUri}&response_type=token&scope=${scope}&include_granted_scopes=true`;

      const popup = window.open(url, "googleLogin", "width=500,height=600");

      window.addEventListener("message", async function (event) {
        const token = event.data?.access_token;

        if (token) {
          const jwt = localStorage.getItem("jwt");

          const res = await fetch("/api/authentication/save-gmail-token", {
            method: "POST",
            headers: {
              "Authorization": `Bearer ${jwt}`,
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              accessToken: event.data.access_token,
              expiresIn: event.data.expires_in,
              tokenType: event.data.token_type
            })
          });

          alert("event.data.access_token");

          const data = await res.json();
          console.log("Токен збережено:", data);
        }
      }, { once: true });
    }
</script>
