@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button onclick="signInWithGoogle()">Connect Gmail</button>

<script>
    function signInWithGoogle() {
      const clientId = "<removed-clientId>";
      const redirectUri = "https://localhost:7167/googlepopup.cshtml";
      const scope = "https://www.googleapis.com/auth/gmail.readonly https://www.googleapis.com/auth/gmail.send";
      const url = `https://accounts.google.com/o/oauth2/v2/auth?client_id=${clientId}&redirect_uri=${redirectUri}&response_type=token&scope=${scope}&include_granted_scopes=true`;

      const popup = window.open(url, "googleLogin", "width=500,height=600");

      window.addEventListener("message", async function (event) {
        const token = event.data?.access_token;

        if (token) {
          const jwt = localStorage.getItem("jwt");

          const res = await fetch("/api/authentication/save-gmail-token", {
            method: "POST",
            headers: {
              "Authorization": `Bearer ${jwt}`,
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              accessToken: event.data.access_token,
              expiresIn: event.data.expires_in,
              tokenType: event.data.token_type
            })
          });

          alert("event.data.access_token");

          const data = await res.json();
          console.log("Токен збережено:", data);
        }
      }, { once: true });
    }
</script>
