
<div class="block">
    <img src="img/emailClient.png"
         alt="Img that represent online courses"
         class="image" />
    <div class="info">
        <h2>Site info</h2>
        <p>
            An email client is a program that lets you send, receive, and organize
            your emails all in one place. It helps you keep track of your
            messages, manage contacts, and easily find important emails when you
            need them.
        </p>
    </div>
</div>