<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GmailSenderClient</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2 class="logo">Email Client</h2>
        <nav class="navigation">
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <a asp-controller="dashboard" asp-action="index">Dashboard</a>
                <a asp-controller="account" asp-action="index">Account</a>
            }
            else
            {
                <button class="btnLogin-popup">Login</button>
            }
        </nav>
    </header>

    <partial name="_AuthenticationPartial" model="new AuthenticationViewModel()" />

    @RenderBody()

    @* <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script> *@
    <script src="~/js/script.js"></script>
</body>
</html>
